body {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/rDtN98Qoishumwih/lightgreypolkadots-05-091815-637_thumb.jpg");
    background-repeat: repeat;
}

.top-icons {
    margin-left: 10px;
    margin-right: 10px;
    color: #5F9F9F;
}

.top {
    margin-bottom: 40px;
}

.well {
    background-color: white;
}